<div class="container-fluid" id="wrapper">
  <div class="content h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-sm-8" id="formDiv">
        <form [formGroup]="form" class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ingresa un número</label>
                  <input type="text" required class="form-control form-control-lg"  name="numero" type="text" formControlName="numeroingresado" placeholder="Ingresa un número de 4 dígitos">
                  <small class="form-text text-muted">Tiene que tener 4 dígitos distintos.</small>
                </div>
          <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="form.getError('numerosRepetidos') && form.get('numeroingresado').touched">No puedes enviar números con dígitos repetidos</ngb-alert>
          <ngb-alert [dismissible]="false" [type]="'warning'" *ngIf="form.getError('noEsNumero') && form.get('numeroingresado').touched">Debes ingresar un número</ngb-alert>
          <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="form.get('numeroingresado').errors && form.get('numeroingresado').touched">Debes ingresar un número de 4 dígitos</ngb-alert>
          <div class="row">
            <div class="text-center col-sm-12">
                <button [disabled]="form.pristine || !form.valid" class="btn btn-outline-primary" type="submit" (click)="enviar()">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
